<div class="conjugation-chart">
  <h1>Conjugation</h1>
  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-5">Singular</div>
      <div class="col-5">Plural</div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col">Masculine</div>
      <div class="col">Feminine</div>
      <div class="col">Masculine</div>
      <div class="col">Feminine</div>
    </div>
    <div class="row">
      <div class="col-2">1p</div>
      <div class="col">1PSingular</div>
      <div class="col">1PPlural</div>
    </div>
    <div class="row">
      <div class="col-2">2p</div>
      <div class="col">2PSingluarM</div>
      <div class="col">2PSingularF</div>
      <div class="col">2PPluralM</div>
      <div class="col">2PPluralF</div>
    </div>
    <div class="row">
      <div class="col-2">3p</div>
      <div class="col">3PSingularM</div>
      <div class="col">3PSingularF</div>
      <div class="col">3PPluralM</div>
      <div class="col">3PPluralF</div>
    </div>
  </div>
  <ol>
    <li>Singular</li>
    <li>
      <span>1P: </span><span>{{ conjugatedWord.firstSingularCommon }}</span>
    </li>
    <li>
      <span>2P M: </span><span>{{ conjugatedWord.secondPluralMasculine }}</span>
    </li>
    <li>
      <span>2P F: </span><span>{{ conjugatedWord.secondPluralFeminine }}</span>
    </li>
    <li>
      <span>3P M: </span><span>{{ conjugatedWord.thirdPluralMasculine }}</span>
    </li>
    <li>
      <span>3P F: </span><span>{{ conjugatedWord.thirdPluralFeminine }}</span>
    </li>
    <li>Plural</li>
    <li>
      <span>1P: </span><span>{{ conjugatedWord.firstPluralCommon }}</span>
    </li>
    <li>
      <span>2P M: </span><span>{{ conjugatedWord.secondPluralMasculine }}</span>
    </li>
    <li>
      <span>2P F: </span><span>{{ conjugatedWord.secondPluralFeminine }}</span>
    </li>
    <li>
      <span>3P M: </span><span>{{ conjugatedWord.thirdPluralMasculine }}</span>
    </li>
    <li>
      <span>3P F: </span><span>{{ conjugatedWord.thirdPluralFeminine }}</span>
    </li>
  </ol>
</div>
