<div class="conjugation-chart">
  <h1>Conjugation</h1>
  <ol>
    <li>Singular</li>
    <li>
      <span>1P: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>
      <span>2P M: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>
      <span>2P F: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>
      <span>3P M: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>
      <span>3P F: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>Plural</li>
    <li>
      <span>1P: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>
      <span>2P M: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>
      <span>2P F: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>
      <span>3P M: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>
      <span>3P F: </span><span>{{ word.hebrew }}</span>
    </li>
  </ol>
</div>
