<div class="conjugation-chart">
  <h1>Conjugation</h1>
  <ol>
    <li>Singular</li>
    <li>
      <span>1P: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>
      <span>2PM: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>
      <span>2PF: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>
      <span>3PM: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>
      <span>3PF: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>Plural</li>
    <li>
      <span>1P: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>
      <span>2PM: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>
      <span>2PF: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>
      <span>3PM: </span><span>{{ word.hebrew }}</span>
    </li>
    <li>
      <span>3PF: </span><span>{{ word.hebrew }}</span>
    </li>
  </ol>
</div>
